{% extends 'base.html' %}

{% block title %}
Kategorie bearbeiten
{% endblock %}


{% block head%}
<a href="{% url 'events:categories' %}">zurück zur Übersicht</a><br>

<h1 class="display-6 fw-bold lh-1">Kategorie bearbeiten</h1>
{% endblock %}

{% block content %}

<div class="container mt-4">
    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            {{ form }}
        </div>

        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">
                Jetzt eintragen
            </button>
        </div>
    </form>
</div>

{% endblock %}
