{% extends 'base.html' %}

{% block title %}
{{category.name}}
{% endblock %}


{% block head %}
<p>
    <a href="{% url 'events:categories' %}">zurück zur Übersicht aller Kategorien</a><br>
</p>
<h1 class="display-6 fw-bold lh-1">{{category.name}}</h1>
<h3 class="display-6 lh-3">{{category.sub_title}}</h3>

{% if user.is_authenticated %}
<span style="font-size:12px;">
<a href="{% url 'events:category_update' category.pk %}">editieren</a>
</span>
{% endif %}

{% endblock %}

{% block content %}

<div class="container">
<div class="col-lg-8 col-sm-12">

    <p>{{category.description}}</p>

    <p>
    <a href="{% url 'events:event_create' category.pk %}">
    <button class="btn btn-primary">neues Event in {{category}} eintragen</button>
    </a>
    </p>

    <h3>Events aus der Kategorie {{category}}</h3>
    <ul>
    {% for e in category.show %}
        <li><a href="{{e.get_absolute_url}}">{{e.name}}</a></li>
    {% empty %}
        <li>Not in</li>
    {% endfor %}
    </ul>

</div>
</div>
{% endblock %}
