{% extends 'base.html' %}

{% block title %}
Übersicht der Kategorien
{% endblock %}

{% block head %}
<h1 class="display-6 fw-bold lh-1">Kategorien</h1>
{% endblock %}

{% block content %}
<div class="container">
<div class="col-lg-8 col-sm-12">

<ul class="list-group event_box">
{% for category in categories %}

<a href="{% url 'events:category_detail' category.pk %}">
<li class="list-group-item rounded">
    {{category}}
    <span class="badge rounded-pill bg-primary">{{category.num_of_events}}</span>
</li>
</a>
{% endfor %}
</ul>

<p>
<a href="{% url 'events:category_create' %}">neue Kategorie hinzufügen</a>
</p>
</div>
</div>
{% endblock %}
