{% extends 'base.html' %}

{% block title %}
neue Kategorie hinzufügen
{% endblock %}


{% block head%}

<a href="{% url 'events:categories' %}">zurück zur Übersicht</a><br>

<h1 class="display-6 fw-bold lh-1">neue Kategorie hinzufügen</h1>
{% endblock %}

{% block content %}

    <form method="POST">
    {% csrf_token %}
    <table>
    {{form}}
    <tr>
        <th>
            Formular absenden:
        </th>
        <td>
            <input type="submit" value="Jetzt eintragen" />
        </td>
    </tr>
    </table>
    </form>

{% endblock %}
