{% extends 'base.html' %}

{% block title %}
Übersicht der Events
{%endblock%}

{% block head %}
Übersicht der Events
{%endblock%}

{% block content %}

<ul class="list-group event_box">
{% for event in object_list %}
  <a href="{% url 'events:event_detail' event.slug%}">
    <li class="list-group-item rounded">
      <b>{{event.name}}</b>
      <span class="badge rounded-pill bg-primary">
        {{event.category.name}}
      </span>
        <p>by {{event.author}}</p>
    </li>
  </a>
{% endfor%}
</ul>

{% include "../snippets/paginator.html" %}

{%endblock%}
