{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
{% if object %}
    Edit {{object.name}}
{% else %}
    Event eintragen
{% endif %}
{%endblock%}

{% block head %}
{% if object %}
    <h1 class="display-6 fw-bold lh-1">Event {{object.name}}</h1>
{% else %}
    <h1 class="display-6 fw-bold lh-1">Event eintragen</h1>
{% endif %}
{%endblock%}

{% block content %}
<div class="container">
<div class="row">
<div class="col-lg-8 col-md-12 mb-5">

<p>
<a href="{% url 'events:events' %}">zurück zur Übersicht</a><br>
</p>

<form method="POST">
    {% csrf_token %}
        {{form|crispy}}
        <div>
        {% if object %}
        <input class="btn btn-primary" type="submit" value="Jetzt updaten" />
        {% else %}
        <input class="btn btn-primary" type="submit" value="Jetzt eintragen" />
        {% endif %}
        </div>
</form>

<div>
</div>
</div>
{% endblock %}
