{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  Event eintragen
{%endblock%}

{% block head %}
<p>
<a href="{% url 'events:events' %}">zurück zur Übersicht</a><br>
</p>

<h1 class="display-6 fw-bold lh-1">Event eintragen</h1>
{%endblock%}

{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-12 mb-5">

            <form method="POST">
                {% csrf_token %}

                {{ form|crispy }}

                <div class="mt-3 d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                        Jetzt eintragen
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}


