  {% extends 'base.html' %}

  {% block title %}
  Übersicht der Events
  {%endblock%}

  {% block head %}
  Übersicht der Events
  {%endblock%}

{% block content %}

<ul class="list-group event_box">
{% for event in object_list %}

  <li class="list-group-item rounded">
    <b>{{event.name}}</b>
    <span class="badge rounded-pill bg-primary">
      {{event.category.name}}
    </span>
  </li>

{% endfor%}
</ul>

{% if is_paginated %}
  <nav aria-label="Page navigation conatiner"></nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

    {% endif %}
  </ul>
  </nav>
</div>
{% endif %}

{%endblock%}
