{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Event eintragen
{%endblock%}

{% block head %}
Event eintragen
{%endblock%}

{% block content %}
<a href="{% url 'events:events' %}">zurück zur Übersicht</a><br>

<form method="POST">
    {% csrf_token %}
    <table>
        {{form|crispy}}
        <tr>
            <th>
                Formular absenden:
            </th>
            <td>
                <input class="btn btn-primary" type="submit" value="Jetzt eintragen" />
            </td>
        </tr>
    </table>
</form>

{% endblock %}
